In [36]:
import numpy as np
import pandas as pd
import glob
import datetime
import os.path
from dateutil.parser import parse

In [3]:
cols = ['datetime_str','Garage_Real_Power_Total']

In [7]:
foo_df = pd.read_csv('garage_data/Garage_Real_Power_Total_201701.csv')

In [40]:
path = './garage_data'
all_files = glob.glob(path + "/*.csv")
all_files.sort()

garage = pd.concat([pd.read_csv(f, skipinitialspace = True, skiprows=(1),float_precision='round_trip',
                                      delimiter=',', index_col=False,header=None, names=cols) for f in all_files],ignore_index=True)
garage.shape

(240000, 2)

In [29]:
Jan2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201701.csv')
Feb2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201702.csv')
Mar2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201703.csv')
Apr2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201704.csv')
May2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201705.csv')
Jun2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201706.csv')
Jul2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201707.csv')
Aug2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201708.csv')
Sep2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201709.csv')
Oct2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201710.csv')
Nov2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201711.csv')
Dec2017 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201712.csv')

Jan2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201801.csv')
Feb2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201802.csv')
Mar2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201803.csv')
Apr2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201804.csv')
May2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201805.csv')
Jun2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201806.csv')
Jul2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201807.csv')
Aug2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201808.csv')
Sep2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201809.csv')
Oct2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201810.csv')
Nov2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201811.csv')
Dec2018 = pd.read_csv('./garage_data/Garage_Real_Power_Total_201812.csv')

In [30]:
print("Jan 2017 shape: {}".format(Jan2017.shape))
print("Feb 2017 shape: {}".format(Feb2017.shape))
print("Mar 2017 shape: {}".format(Mar2017.shape))
print("Apr 2017 shape: {}".format(Apr2017.shape))
print("May 2017 shape: {}".format(May2017.shape))
print("Jun 2017 shape: {}".format(Jun2017.shape))
print("Jul 2017 shape: {}".format(Jul2017.shape))
print("Aug 2017 shape: {}".format(Aug2017.shape))
print("Sep 2017 shape: {}".format(Sep2017.shape))
print("Oct 2017 shape: {}".format(Oct2017.shape))
print("Nov 2017 shape: {}".format(Nov2017.shape))
print("Dec 2017 shape: {}".format(Dec2017.shape))

print("Jan 2018 shape: {}".format(Jan2018.shape))
print("Feb 2018 shape: {}".format(Feb2018.shape))
print("Mar 2018 shape: {}".format(Mar2018.shape))
print("Apr 2018 shape: {}".format(Apr2018.shape))
print("May 2018 shape: {}".format(May2018.shape))
print("Jun 2018 shape: {}".format(Jun2018.shape))
print("Jul 2018 shape: {}".format(Jul2018.shape))
print("Aug 2018 shape: {}".format(Aug2018.shape))
print("Sep 2018 shape: {}".format(Sep2018.shape))
print("Oct 2018 shape: {}".format(Oct2018.shape))
print("Nov 2018 shape: {}".format(Nov2018.shape))
print("Dec 2018 shape: {}".format(Dec2018.shape))

Jan 2017 shape: (10000, 2)
Feb 2017 shape: (10000, 2)
Mar 2017 shape: (10000, 2)
Apr 2017 shape: (10000, 2)
May 2017 shape: (10000, 2)
Jun 2017 shape: (10000, 2)
Jul 2017 shape: (10000, 2)
Aug 2017 shape: (10000, 2)
Sep 2017 shape: (10000, 2)
Oct 2017 shape: (10000, 2)
Nov 2017 shape: (10000, 2)
Dec 2017 shape: (10000, 2)
Jan 2018 shape: (10000, 2)
Feb 2018 shape: (10000, 2)
Mar 2018 shape: (10000, 2)
Apr 2018 shape: (10000, 2)
May 2018 shape: (10000, 2)
Jun 2018 shape: (10000, 2)
Jul 2018 shape: (10000, 2)
Aug 2018 shape: (10000, 2)
Sep 2018 shape: (10000, 2)
Oct 2018 shape: (10000, 2)
Nov 2018 shape: (10000, 2)
Dec 2018 shape: (10000, 2)

In [41]:
def date_parser(row):
    row = row.strip(" Denver")
    parsed = parse(row)
    datetime_var = parsed.strftime(format='%m-%d-%y %H:%M:%S')
    date = parsed.date()
    time = parsed.time()
    return (datetime_var ,date, time)

In [55]:
garage.datetime_str = list(zip(*garage.datetime_str.apply(lambda row:date_parser(row))))[0]

In [58]:
garage.head(15)

         datetime_str  Garage_Real_Power_Total
0   12-31-16 23:59:00                     8.83
1   01-01-17 00:00:00                     8.86
2   01-01-17 00:01:00                     8.86
3   01-01-17 00:02:00                     8.83
4   01-01-17 00:03:00                     6.69
5   01-01-17 00:04:00                     6.68
6   01-01-17 00:05:00                     6.75
7   01-01-17 00:06:00                     6.74
8   01-01-17 00:07:00                     8.15
9   01-01-17 00:08:00                     8.18
10  01-01-17 00:09:00                     8.21
11  01-01-17 00:10:00                     8.11
12  01-01-17 00:11:00                     8.80
13  01-01-17 00:12:00                     8.80
14  01-01-17 00:13:00                     7.40