In [1]:
import pandas as pd
import numpy as np

### define time space for data

In [2]:
date_start = pd.to_datetime('2022-01-01')
date_end = pd.to_datetime('2022-01-07')
count_datapoints_per_minute = 1
count_of_variables = 4
data_min = 0
data_max = 10

### initialize empty dataframe

In [3]:
df = pd.DataFrame()

### create random timestamps

In [4]:
start_u = date_start.value//10**9
end_u = date_end.value//10**9

In [5]:
start_u

1640995200

In [6]:
end_u

1641513600

In [7]:
total_number_datapoints = int(abs((date_start - date_end)/pd.Timedelta("1day"))*24*60*count_datapoints_per_minute)
total_number_datapoints

8640

In [8]:
timestamp = pd.to_datetime(np.random.randint(start_u, end_u, total_number_datapoints), unit='s')
timestamp = timestamp.sort_values()
timestamp.name='timestamp'
timestamp

DatetimeIndex(['2022-01-01 00:00:18', '2022-01-01 00:00:26',
               '2022-01-01 00:01:29', '2022-01-01 00:04:48',
               '2022-01-01 00:06:12', '2022-01-01 00:07:02',
               '2022-01-01 00:08:02', '2022-01-01 00:08:44',
               '2022-01-01 00:08:55', '2022-01-01 00:08:58',
               ...
               '2022-01-06 23:52:03', '2022-01-06 23:53:09',
               '2022-01-06 23:53:35', '2022-01-06 23:54:26',
               '2022-01-06 23:54:26', '2022-01-06 23:54:28',
               '2022-01-06 23:54:51', '2022-01-06 23:55:22',
               '2022-01-06 23:58:00', '2022-01-06 23:58:57'],
              dtype='datetime64[ns]', name='timestamp', length=8640, freq=None)

### create random data

In [9]:
list_column = []
for var in range(count_of_variables):
    list_column.append("var{}".format(var))
    
list_column

['var0', 'var1', 'var2', 'var3']

In [10]:
data = pd.DataFrame(np.random.randint(data_min,data_max,size=(total_number_datapoints, count_of_variables)), columns=list_column)
data

      var0  var1  var2  var3
0        0     2     7     9
1        0     2     3     5
2        0     4     6     1
3        4     5     2     8
4        7     3     8     7
...    ...   ...   ...   ...
8635     3     3     4     5
8636     9     3     6     4
8637     6     1     4     2
8638     1     8     0     7
8639     4     9     0     8

[8640 rows x 4 columns]

### combine timestamp and data

In [11]:
df = data
df.index = timestamp
df

                     var0  var1  var2  var3
timestamp
2022-01-01 00:00:18     0     2     7     9
2022-01-01 00:00:26     0     2     3     5
2022-01-01 00:01:29     0     4     6     1
2022-01-01 00:04:48     4     5     2     8
2022-01-01 00:06:12     7     3     8     7
...                   ...   ...   ...   ...
2022-01-06 23:54:28     3     3     4     5
2022-01-06 23:54:51     9     3     6     4
2022-01-06 23:55:22     6     1     4     2
2022-01-06 23:58:00     1     8     0     7
2022-01-06 23:58:57     4     9     0     8

[8640 rows x 4 columns]

### save dataframe to csv

In [12]:
df.to_csv("./data_edge_consideration.csv")