In [1]:
import pandas as pd
import numpy as np

### define time space for data

In [2]:
date_start = pd.to_datetime('2022-01-01')
date_end = pd.to_datetime('2022-01-07')
count_datapoints_per_minute = 1
count_of_variables = 4
data_min = 0
data_max = 10
name_target_var = "target"

### initialize empty dataframe

In [3]:
df = pd.DataFrame()

### create random timestamps

In [4]:
start_u = date_start.value//10**9
end_u = date_end.value//10**9

In [5]:
start_u

1640995200

In [6]:
end_u

1641513600

In [7]:
total_number_datapoints = int(abs((date_start - date_end)/pd.Timedelta("1day"))*24*60*count_datapoints_per_minute)
total_number_datapoints

8640

In [8]:
timestamp = pd.to_datetime(np.random.randint(start_u, end_u, total_number_datapoints), unit='s')
timestamp = timestamp.sort_values()
timestamp.name='timestamp'
timestamp

DatetimeIndex(['2022-01-01 00:00:40', '2022-01-01 00:01:21',
               '2022-01-01 00:01:25', '2022-01-01 00:03:08',
               '2022-01-01 00:03:10', '2022-01-01 00:05:12',
               '2022-01-01 00:06:17', '2022-01-01 00:06:48',
               '2022-01-01 00:06:57', '2022-01-01 00:07:02',
               ...
               '2022-01-06 23:48:26', '2022-01-06 23:50:32',
               '2022-01-06 23:50:37', '2022-01-06 23:54:38',
               '2022-01-06 23:54:48', '2022-01-06 23:56:07',
               '2022-01-06 23:57:29', '2022-01-06 23:57:40',
               '2022-01-06 23:59:00', '2022-01-06 23:59:56'],
              dtype='datetime64[ns]', name='timestamp', length=8640, freq=None)

### create random data

In [9]:
list_column = []
for var in range(count_of_variables):
    list_column.append("var{}".format(var))
    
list_column.append(name_target_var)
    
list_column

['var0', 'var1', 'var2', 'var3', 'target']

In [10]:
data = pd.DataFrame(np.random.randint(data_min,data_max,size=(total_number_datapoints, count_of_variables+1)), columns=list_column)
data

      var0  var1  var2  var3  target
0        9     8     2     6       4
1        3     7     9     4       8
2        2     5     1     0       1
3        8     6     5     3       1
4        1     0     0     6       0
...    ...   ...   ...   ...     ...
8635     0     1     9     1       9
8636     9     2     5     4       0
8637     3     8     9     1       1
8638     0     7     9     3       5
8639     9     3     1     8       8

[8640 rows x 5 columns]

### combine timestamp and data

In [11]:
df = data
df.index = timestamp
df

                     var0  var1  var2  var3  target
timestamp
2022-01-01 00:00:40     9     8     2     6       4
2022-01-01 00:01:21     3     7     9     4       8
2022-01-01 00:01:25     2     5     1     0       1
2022-01-01 00:03:08     8     6     5     3       1
2022-01-01 00:03:10     1     0     0     6       0
...                   ...   ...   ...   ...     ...
2022-01-06 23:56:07     0     1     9     1       9
2022-01-06 23:57:29     9     2     5     4       0
2022-01-06 23:57:40     3     8     9     1       1
2022-01-06 23:59:00     0     7     9     3       5
2022-01-06 23:59:56     9     3     1     8       8

[8640 rows x 5 columns]

### save dataframe to csv

In [12]:
df.to_csv("./data_edge_consideration.csv")