In [1]:
import pandas as pd
import numpy as np

### define time space for data

In [2]:
date_start = pd.to_datetime('2022-01-01')
date_end = pd.to_datetime('2022-01-07')
count_datapoints_per_minute = 1
count_of_variables = 4
data_min = 0
data_max = 10

### initialize empty dataframe

In [3]:
df = pd.DataFrame()

### create random timestamps

In [4]:
start_u = date_start.value//10**9
end_u = date_end.value//10**9

In [5]:
start_u

1640995200

In [6]:
end_u

1641513600

In [7]:
total_number_datapoints = int(abs((date_start - date_end)/pd.Timedelta("1day"))*24*60*count_datapoints_per_minute)
total_number_datapoints

8640

In [8]:
timestamp = pd.to_datetime(np.random.randint(start_u, end_u, total_number_datapoints), unit='s')
timestamp = timestamp.sort_values()
timestamp

DatetimeIndex(['2022-01-01 00:00:52', '2022-01-01 00:01:48',
               '2022-01-01 00:03:15', '2022-01-01 00:03:51',
               '2022-01-01 00:05:10', '2022-01-01 00:05:10',
               '2022-01-01 00:05:19', '2022-01-01 00:05:41',
               '2022-01-01 00:07:57', '2022-01-01 00:09:47',
               ...
               '2022-01-06 23:49:18', '2022-01-06 23:49:28',
               '2022-01-06 23:50:24', '2022-01-06 23:50:47',
               '2022-01-06 23:53:42', '2022-01-06 23:54:02',
               '2022-01-06 23:57:34', '2022-01-06 23:58:14',
               '2022-01-06 23:58:15', '2022-01-06 23:59:28'],
              dtype='datetime64[ns]', length=8640, freq=None)

### create random data

In [9]:
list_column = []
for var in range(count_of_variables):
    list_column.append("var{}".format(var))
    
list_column

['var0', 'var1', 'var2', 'var3']

In [10]:
data = pd.DataFrame(np.random.randint(data_min,data_max,size=(total_number_datapoints, count_of_variables)), columns=list_column)
data

      var0  var1  var2  var3
0        1     9     5     6
1        6     1     2     9
2        7     0     6     0
3        7     7     9     4
4        9     7     0     4
...    ...   ...   ...   ...
8635     5     8     1     4
8636     2     9     1     7
8637     1     2     7     5
8638     2     6     1     6
8639     7     6     9     3

[8640 rows x 4 columns]

### combine timestamp and data

In [11]:
df = data
df.index = timestamp
df

                     var0  var1  var2  var3
2022-01-01 00:00:52     1     9     5     6
2022-01-01 00:01:48     6     1     2     9
2022-01-01 00:03:15     7     0     6     0
2022-01-01 00:03:51     7     7     9     4
2022-01-01 00:05:10     9     7     0     4
...                   ...   ...   ...   ...
2022-01-06 23:54:02     5     8     1     4
2022-01-06 23:57:34     2     9     1     7
2022-01-06 23:58:14     1     2     7     5
2022-01-06 23:58:15     2     6     1     6
2022-01-06 23:59:28     7     6     9     3

[8640 rows x 4 columns]

### save dataframe to csv

In [12]:
df.to_csv("./data_edge_consideration.csv")