In [1]:
import pandas as pd
import numpy as np

### define time space for data

In [2]:
date_start = pd.to_datetime('2019-01-01')
date_end = pd.to_datetime('2019-01-07')
count_datapoints_per_minute = 1
count_of_variables = 4
data_min = 0
data_max = 10
name_target_var = "target"
np.random.seed(1)

### initialize empty dataframe

In [3]:
df = pd.DataFrame()

### create random timestamps

In [4]:
start_u = date_start.value//10**9
end_u = date_end.value//10**9

In [5]:
start_u

1546300800

In [6]:
end_u

1546819200

In [7]:
total_number_datapoints = int(abs((date_start - date_end)/pd.Timedelta("1day"))*24*60*count_datapoints_per_minute)
total_number_datapoints

8640

In [8]:
timestamp = pd.to_datetime(np.random.randint(start_u, end_u, total_number_datapoints), unit='s')
timestamp = timestamp.sort_values()
timestamp.name='timestamp'
timestamp

DatetimeIndex(['2019-01-01 00:00:27', '2019-01-01 00:04:03',
               '2019-01-01 00:06:19', '2019-01-01 00:06:20',
               '2019-01-01 00:06:54', '2019-01-01 00:07:44',
               '2019-01-01 00:07:47', '2019-01-01 00:07:55',
               '2019-01-01 00:08:42', '2019-01-01 00:09:09',
               ...
               '2019-01-06 23:50:26', '2019-01-06 23:50:53',
               '2019-01-06 23:52:55', '2019-01-06 23:54:08',
               '2019-01-06 23:54:57', '2019-01-06 23:55:26',
               '2019-01-06 23:55:28', '2019-01-06 23:56:30',
               '2019-01-06 23:59:17', '2019-01-06 23:59:22'],
              dtype='datetime64[ns]', name='timestamp', length=8640, freq=None)

### create random data

In [9]:
list_column = []
for var in range(count_of_variables):
    list_column.append("var{}".format(var))
    
list_column.append(name_target_var)
    
list_column

['var0', 'var1', 'var2', 'var3', 'target']

In [10]:
data = pd.DataFrame(np.random.randint(data_min,data_max,size=(total_number_datapoints, count_of_variables+1)), columns=list_column)
data

      var0  var1  var2  var3  target
0        4     0     0     1       3
1        3     1     9     9       3
2        5     6     8     1       7
3        8     1     5     9       4
4        1     1     3     4       7
...    ...   ...   ...   ...     ...
8635     9     1     5     2       0
8636     6     0     4     2       6
8637     9     1     1     7       5
8638     5     5     9     3       2
8639     8     1     2     0       4

[8640 rows x 5 columns]

### combine timestamp and data

In [11]:
df = data
df.index = timestamp
df

                     var0  var1  var2  var3  target
timestamp
2019-01-01 00:00:27     4     0     0     1       3
2019-01-01 00:04:03     3     1     9     9       3
2019-01-01 00:06:19     5     6     8     1       7
2019-01-01 00:06:20     8     1     5     9       4
2019-01-01 00:06:54     1     1     3     4       7
...                   ...   ...   ...   ...     ...
2019-01-06 23:55:26     9     1     5     2       0
2019-01-06 23:55:28     6     0     4     2       6
2019-01-06 23:56:30     9     1     1     7       5
2019-01-06 23:59:17     5     5     9     3       2
2019-01-06 23:59:22     8     1     2     0       4

[8640 rows x 5 columns]

### save dataframe to csv

In [12]:
df.to_csv("./data_edge_consideration.csv")